.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background: linear-gradient(rgb(47, 52, 61) 0%, rgb(25, 30, 36) 100%);
  font-family: "Noto Sans";
  color: #ebebec;
  user-select: none;
}

header,
footer {
  width: 100%;
}

header {
  margin: 1rem 0 2rem;
  height: 10vh;
  opacity: 50%;
}

header h1 {
  font-weight: 100;
  text-align: center;
}

main {
  max-height: 80vh;
}

footer {
  margin-top: 8rem;
  min-height: 5vh;
  opacity: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-weight: 100;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ebebec;
}

#bg {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calculator {
  width: 325px;
  height: 525px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(47, 52, 61) 0%, rgb(25, 30, 36) 100%);
  box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.2);
  border-radius: 34px;
}

.cal-element {
  box-sizing: border-box;
  display: flex;
  width: 300px;
  height: 75px;
}

#cal-misc {
  height: calc((15 / 525) * 100%);
}

#cal-display {
  height: calc((110 / 525) * 100%);
}

#screen {
  box-sizing: border-box;
  width: 100%;
  height: calc((100 / 110) * 100%);
  border-radius: 21px;
  overflow: hidden;
  display: flex;
  align-items: end;
  background-color: #2b3038;
  box-shadow: inset 0px 3px 21px 5px rgba(235, 235, 236, 0.1),
    inset 0px 5px 21px 13px rgba(0, 0, 0, 0.2);
  border: 0.25px solid #ebebec33;
}

#output,
.btn-txt {
  color: #ebebec;
  opacity: 0.85;
  text-shadow: 0px 0px 2px rgba(235, 235, 236, 0.8);
}

#output {
  width: 100%;
  margin: 0.5rem;
  font-size: 2.125rem;
  text-align: end;
}

.cal-btn-row {
  height: calc((75 / 525) * 100%);
}

.btn-container {
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-btn {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 21px;
  width: calc((65 / 75) * 100%);
  height: calc((65 / 75) * 100%);
  background-color: #2b3038;
  box-shadow: inset 0px 3px 13px 8px #00000033, 0px 5px 8px 2px #00000066;
}

.cal-btn:hover {
  background-color: #3b424d;
}

.cal-btn:active {
  background-color: #2b3038;
  box-shadow: inset 0px 3px 13px 2px rgba(0, 0, 0, 0.4);
}

.btn-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.125rem;
}

.btn-txt.btn-col-4 {
  color: rgb(255, 140, 0);
  text-shadow: 0px 0px 2px rgba(255, 140, 0, 0.8);
}

#logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  opacity: 13%;
  width: calc((55 / 75) * 100%);
}

#logo img:hover {
  opacity: 21%;
}
